.listado {
   
margin-inline: 30px;
&__h3{
    font-size: 28px;
    margin-block: 14px;
    max-width: 400px;

}
&__h4{
    font-size: 18px;
    margin-block: 14px;
    max-width: 400px;
    color:    rgb(90, 176, 133);;
}
&__paragraphYear{
    font-weight: 600;
}
&__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    list-style: none;
    padding-inline: 30px;
    align-items: center;
    


}

&__li {
    margin-block: 30px;
    margin-inline: 20px;

}

&__img {
    width: 300px;
}

&__no-result{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;

}
&__img-noResult{
    margin-block: 40px;
    border-radius: 50%;
    width: 300px;

}
}